@font-face { 
    font-family: "SourceSansPro"; 
   
   
    src: url('/fonts/SourceSansPro-Bold.ttf') format("truetype"); 
    font-style: bold; 
    font-weight: bold; }
    
    .w3-xxlarge.text-1 {
	font-family: 'SourseSansPro'; 
	
}
    @font-face { 
        font-family: "SourceSansPro"; 
       
    src: url('/fonts/SourceSansPro-Regular.ttf') format("truetype"); 
    font-style: normal; 
    font-weight: bold; }


    @font-face { 
        font-family: "SourceSansPro"; 
       
    src: url('/fonts/SourceSansPro-Light.ttf') format("truetype");
    font-style: normal; 
    font-weight: bold; }
    


    @font-face {
        font-family: "SourceSansPro"; 
       
    src: url('/fonts/SourceSansPro-SemiBold.ttf') format("truetype"); 
    font-style: normal; 
    font-weight: bold; 
    } 
    